<div class="container">
    <table class="table">
        <thead>
            <tr class="">
                <th class="name">Name</th>
                <th class="age">
                    <span>Age
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="10px" height="10px"
                            viewBox="0 0 292.362 292.362" style="enable-background:new 0 0 292.362 292.362;"
                            xml:space="preserve" (click)="ageNumberSort()">
                            <g>
                                <path
                                    d="M286.935,69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952,0-9.233,1.807-12.85,5.424
		C1.807,72.998,0,77.279,0,82.228c0,4.948,1.807,9.229,5.424,12.847l127.907,127.907c3.621,3.617,7.902,5.428,12.85,5.428
		s9.233-1.811,12.847-5.428L286.935,95.074c3.613-3.617,5.427-7.898,5.427-12.847C292.362,77.279,290.548,72.998,286.935,69.377z" />
                            </g>
                        </svg>
                    </span>

                </th>
                <th class="address">Address</th>
                <th class="country">Country</th>
                <th class="is-married">Is Married</th>
                <th class="function">Function</th>
            </tr>
        </thead>
        <tbody>
            <tr class="">
                <th class="name"><input type="text" class="form-control"></th>
                <th class="age"><input type="text" class="form-control"></th>
                <th class="address"><input type="text" class="form-control"></th>
                <th class="country"><input type="text" class="form-control"></th>
                <th class="is-married"><input type="checkbox"></th>
                <th class="function">
                    <button class="btn btn-primary" value="Add">Add</button>
                    <button class="btn btn-danger" value="Delete">Delete</button>
                </th>

            </tr>
            <tr *ngFor="let person of data; index as i">
                <td>{{person.Name}}</td>
                <td>{{person.Age}}</td>
                <td>{{person.Address}}</td>
                <td>{{personCountryList[i]}}</td>
                <th class="name"><input type="checkbox"></th>
                <th>
                    <button class="btn btn-primary" value="Add">Add</button>
                    <button class="btn btn-danger" value="Delete">Delete</button>
                </th>
            </tr>
        </tbody>
    </table>
    <!--Pagination-->
    <div class="pagination">
        <a href="javascript:void(0)" class="btn btn-primary" style="margin-right: 10px;" (click)="prePage()">Previous</a>
        <h5>{{page}}</h5>
        <a href="javascript:void(0)" class="btn btn-primary" style="margin-left: 10px;" (click)="nextPage()">Next</a>
    </div>
</div>